<div class="col-md-12">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Create a New Entry</h4></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input class="form-control" id="date" type="date" name="date">
                    <label for="startTime">Start Time</label>
                    <input class="form-control" type="time" id="startTime" name="startTime">
                    <label for="endTime">End Time</label>
                    <input class="form-control" type="time" id="endTime" name="endTime">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                    <button class="btn btn-lg btn-primary" type="submit">Save Entry</button>
                </div>
            </div>
        </div>
    </div>
</div>