<div class="col-md-10">
    <h1>Time</h1>
    <%= button_to 'Add Entry', new_entry_path, :class => 'btn btn-lg btn-primary', :method => 'get' %>
    <div class="well">
        <table class="table table-striped">
            <tr>
                <th>Description</th>
                <th>Start Date/Time</th>
                <th>End Date/Time</th>
            </tr>
            <% @entries.each do |entry| %>
                <tr>
                    <td><%= entry.content %></td>
                    <td><%= entry.started_at %></td>
                    <td><%= entry.ended_at %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>